In [6]:
import math
import pandas as pd

In [2]:
math.sqrt(4)

2.0

In [4]:
def test():
    print("yes")

In [5]:
test()

yes

In [8]:
vars = {
    "person1": {
        "height": 85,
        "age": 45
    },
    "person2": {
        "height": 65,
        "age": 25
    },
}

df = pd.DataFrame(vars)
df

        person1  person2
height       85       65
age          45       25